<section>
  <h1>Виробниче оточення</h1>
  <h2>Лекція 8</h2>
</section>

<section>
  <h2>Heroku</h2>

  <section>
    <h3>Розгортування на хмарному сервісі</h3>
  </section>

  <section>
    <h3>Вхід</h3>

    <img src="images/heroku-login.png" />
  </section>

  <section>
    <h3>Список аплікацій</h3>

    <img src="images/heroku-apps.png" />
  </section>

  <section>
    <h3>Нова аплікація</h3>

    <img src="images/heroku-new-app.png" />
  </section>

  <section>
    <h3>Розгортування</h3>

    <img src="images/heroku-deploy.png" />
  </section>

  <section>
    <h3>Dropbox</h3>

    <img src="images/heroku-dropbox.png" />
  </section>

  <section>
    <h3>Dropbox</h3>

    <img src="images/heroku-dropbox-connected.png" />
  </section>

  <section>
    <h3>GitHub</h3>

    <img src="images/heroku-github.png" />
  </section>

  <section>
    <h3>GitHub</h3>

    <img src="images/heroku-github-connected.png" />
  </section>

  <section>
    <h3>Аплікація</h3>

    <img src="images/heroku-app.png" />
  </section>

  <section>
    <h3>Відладка</h3>

    <img src="images/heroku-logs.png" />
  </section>

  <section>
    <h3>Ресурси</h3>

    <img src="images/heroku-resources.png" />
  </section>

  <section>
    <h3>MongoDB</h3>

    <img src="images/heroku-add-mongo.png" />
  </section>

  <section>
    <h3>MongoDB</h3>

    <img src="images/heroku-edit-mongo.png" />
  </section>

  <section>
    <h3>Налаштування</h3>

    <img src="images/heroku-settings.png" />
  </section>

  <section>
    <h3>Змінні оточення</h3>

    <img src="images/heroku-env.png" />
  </section>
</section>

<section>
  <h2>Підготовка до розгортування</h2>

  <section>
    <h3>MongoDB</h3>
  </section>

  <section>
    <h3>package.json</h3>
  </section>

  <section>
    <h3>Procfile</h3>
  </section>
</section>

<section>
  <h2>Керування процесами</h2>

  <section>
    <h3>foreman</h3>
  </section>

  <section>
    <h3>pm2</h3>
  </section>
</section>
